<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Theme Guesser - Verify Email Address</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Welcome to {{appName}}!</h1>
        <p>Hi {{userName}},</p>
        <p>Thank you for joining {{appName}}. We're excited to have you on board!</p>
        <p>To get started, please verify your email address by clicking the button below:</p>
        <a href="{{verificationLink}}" style="background-color: #4CAF50; color: white; padding: 14px 20px; text-decoration: none; display: inline-block;">
            Verify Email Address
        </a>
        <p>If you didn't create this account, you can safely ignore this email.</p>
        <p>Best regards,<br>The {{appName}} Team</p>
    </body>
</html>
